.praxii-logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  display: block;
}

.logo-container {
  display: flex;
  align-items: center;
}

.bg-light.border-bottom.py-3 {
  padding-top: 0.32rem !important;
  padding-bottom: 0.32rem !important;
}