<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/" class="navbar-brand">Praxii App</a>
      <ul class="navbar-nav">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active-link" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/signup" routerLinkActive="active-link" class="nav-link">Sign Up</a>
          </li>
        </ng-container>
  
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link" style="cursor: pointer;">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
  